.select {
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    width: 17px;
    height: 17px;
    accent-color: $color-accent;
  }

  label {
    padding-left: 10px;
  }
}
